.dataSpouse,
.dataDependents,
.dataFed,
.dataMedicalExpenses,
.dataEducationExpenses,
.dataPatrimony {
    display: none;
}

.dataSpouse.active {
    display: block;
}

.dataDependents.active {
    display: block;
}

.dataFed.active {
    display: block;
}

.dataMedicalExpenses.active {
    display: block;
}

.dataEducationExpenses.active {
    display: block;
}

.dataPatrimony.active {
    display: block;
}

.custom-tooltip {
    --bs-tooltip-bg: #AB838B !important;
}

#textarea-medical-expenses,
#textarea-education-expenses,
#textarea-patrimony {
    height: 300px;
    resize: none;
}

#files {
    height: 300px;
}

.hide {
    visibility: hidden;
}
